<!DOCTYPE html>
<html>

<head>
  <% include ../partials/head %>
</head>

<body>
  <% include ../partials/nav %>

    <div class="container post post-index">
      <% include ./partials/header %>

        <div class="buttons">
          <% if(isAuthenticated){ %>
            <a class="btn-floating btn-large cyan pulse" href="/posts/new"><i class="material-icons">edit</i></a>
            <% } %>
        </div>

        <% if(posts == null || posts.length == 0){ %>
          <tr>
            <td class="noData" colspan=100> There is no data to show :( </td>
          </tr>
          <% } %>
            <div class="row ">
              <% posts.forEach(function(post) { %>
                <div class="col s12 m6">
                  <div class="card white">
                    <div class="card-content">
                      <span class="card-title"><a href="/posts/<%= post._id %>"><%= post.title %></a></span>
                      <p>
                        <%= post.body %>
                      </p>
                    </div>
                    <div class="card-action">
                      <a href="/posts/<%= post._id %>">
                        <%= post.author ? post.author.username : "" %>
                      </a>
                      <a>
                        <%= post.createdDate %>
                      </a>
                    </div>
                  </div>
                </div>

                <% }) %>
            </div>
            <div class="search">
              <form action="/posts/search" method="get" id="searchAction" name="searchAction">
                <select name="searchCategory" form="searchCategory">
                  <option value="author">작성자</option>
                  <option value="titleBody">제목+내용</option>
                </select>
                <input type="text" class="search_word" id="searchWord" name="searchWord">
                <button type="button" onclick="searchContent();">검색</button>
              </form>
            </div>
            
            <script type="text/javascript">
              $(document).ready(function() {
                $("#myTags").tagit();
              });
            </script>

            <ul id="myTags">
              <!-- Existing list items will be pre-added to the tags -->
              <li>Tag1</li>
              <li>Tag2</li>
            </ul>

            <script>
              function searchContent() {
                if ($('#searchWord').val == '') {
                  alert("검색어를 입력해주세요!!!");
                } else {
                  $('#searchAction').submit();
                }
              }
            </script>

    </div>
    <!-- container end -->
</body>

</html>
